@font-face {
	src: url("../../resources/fonts/Toonish.ttf");
}

@font-face {
    src: url("../../resources/fonts/MontserratMedium.ttf");
}

@font-face {
	src: url("../../resources/fonts/PlayfairDisplayRegular.ttf");
}

/* colors: orange - #f36a26; blue - #212153 */

.root {
	-fx-background-color: #212153;
}

.scroll-pane {
	-fx-background: #212153;
}

.dialog-pane:header .header-panel {
	-fx-background-color: #212153;
}

#header {
	-fx-font-family: "Toonish";
	-fx-font-size: 50px;
}

.label {
	-fx-font-family: "Montserrat Medium";
	-fx-text-fill: white;
	-fx-font-size: 14px;
}

#bunk-label {
	-fx-font-family: "Toonish";
	-fx-text-fill: white;
	-fx-font-size: 18px;
}

.text-area {
	-fx-font-size: 20px;
	-fx-font-family: "Montserrat Medium";
	-fx-text-fill: white;
	-fx-background-color: #212153;
}

.text-area .content {
	-fx-background-color: #212153;
}

.text-area:focused .content {
	-fx-background-color: #212153;
}

.dialog-pane .label {
	-fx-font-family: "Montserrat Medium";
	-fx-text-fill: white;
	-fx-font-size: 12px;
}

.dialog-pane:header .header-panel .label {
	-fx-font-size: 20px;
	-fx-text-fill: white;
}

.button {
	-fx-font-family: "Montserrat Medium";
	-fx-font-size: 12px;
	-fx-text-fill: white;
	-fx-background-color: linear-gradient(#da885b, #f36a26);
}

.button:hover {
	-fx-background-color: linear-gradient(#f36a26, #da885b);
}

.radiobutton {
	-fx-font-family: "Montserrat Medium";
	-fx-text-fill: white;
	-fx-font-size: 12px;
}

#list-button {
	-fx-font-family: "Montserrat Medium";
	-fx-font-size: 14px;
	-fx-text-fill: white;
	-fx-background-color: transparent;
}

#list-button:hover {
	-fx-text-fill: #c8c8c8;
}