/* for use outside of eclipse
@font-face {
	src: url("/resources/fonts/Toonish.ttf");
}

@font-face {
    src: url("/resources/fonts/MontserratMedium.ttf");
} 
*/
/* for use in eclipse */
@font-face {
	src: url("../../resources/fonts/Toonish.ttf");
}

@font-face {
    src: url("../../resources/fonts/MontserratMedium.ttf");
}


/* harlam colors: orange - #f36a26; blue - #212153 */

.root {
	-fx-background-color: #212153;
}

.scroll-pane {
	-fx-background: #212153;
	-fx-hbar-policy: never;
}

.scroll-bar .increment-button ,
.scroll-bar .decrement-button {
    -fx-background-color: #212153;
    -fx-background-radius: 0;
    -fx-padding: 0;

}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow{
    -fx-shape: "";    
    -fx-padding: 0;
}

.scroll-bar .thumb {
    -fx-background-color: #f3c7a6;
    -fx-background-radius: 5;
}

.scroll-bar .thumb:hover {
	-fx-background-color: #da885b;
}

.scroll-bar .thumb:pressed {
	-fx-background-color: #f36a26;
}

.scroll-bar .track {
	-fx-background-color: #212153;
	-fx-border-color: #212153;
}

.dialog-pane:header .header-panel {
	-fx-background-color: #212153;
}

#header {
	-fx-font-family: "Toonish";
	-fx-font-size: 60px;
}

.label {
	-fx-font-family: "Montserrat Medium";
	-fx-text-fill: white;
	-fx-font-size: 14px;
}

#bunk-label {
	-fx-font-family: "Toonish";
	-fx-text-fill: white;
	-fx-font-size: 18px;
}

.text-area {
	-fx-font-size: 18px;
	-fx-font-family: "Montserrat Medium";
	-fx-text-fill: white;
	-fx-background-color: #212153;
}

.text-area .content {
	-fx-background-color: #212153;
}

.text-area:focused .content {
	-fx-background-color: #212153;
}

.dialog-pane .label {
	-fx-font-family: "Montserrat Medium";
	-fx-text-fill: white;
	-fx-font-size: 12px;
}

.dialog-pane:header .header-panel .label {
	-fx-font-size: 20px;
	-fx-text-fill: white;
}

.button {
	-fx-font-family: "Montserrat Medium";
	-fx-font-size: 12px;
	-fx-text-fill: white;
	-fx-background-color: linear-gradient(#da885b, #f36a26);
}

.button:hover {
	-fx-background-color: linear-gradient(#f36a26, #da885b);
}

.radio-button {
	-fx-font-family: "Montserrat Medium";
	-fx-text-fill: white;
	-fx-font-size: 12px;
}

.info {
	-fx-font-family: "Monospaced";
	-fx-font-weight: bolder;
	-fx-background-color: #212153;
	-fx-border-color: white;
	-fx-border-radius: 100px;
}

.info:hover {
	-fx-text-fill: #c8c8c8;
	-fx-border-color: #c8c8c8;
	-fx-background-color: #212153;
}

#list-button {
	-fx-font-family: "Montserrat Medium";
	-fx-font-size: 14px;
	-fx-text-fill: white;
	-fx-background-color: transparent;
}

#list-button:hover {
	-fx-text-fill: #c8c8c8;
}

.popup {
	-fx-background-color: white;
	-fx-background-radius: 0px 0px 8px 8px;
}